/* ------------------------- */
/*          Sign up          */
/* ------------------------- */

.signup {
  background-color: #dfdfdf;
  width: 90%;
  max-width: 400px;
  margin: 1em auto;
  padding: 1em;
}

.title {
  text-align: left;
}

.wrapper {
  margin-bottom: 1em;
}

.input {
  margin-top: 0.25em;
  border: none;
  width: 100%;
  min-height: 2em;
  background-color: white;
  color: black;
  padding: 0.5em;
}

/* .sign-up-btn {
    width: 100%;
} */
